@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-brand-primary: #a71f1f;
    --screen-75: 75vh;
    --screen-50: 50vh;
}

body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    color: #878787;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

@import './_timeline.css';

.static-content p {
    margin-bottom: 15px;
}

.title-underline::after {
    content: '';
    display: block;
    width: 6rem;
    height: 4px;
    background-color: var(--color-brand-primary);
    margin-top: 0.9rem;
    margin-left: auto;
    margin-right: auto;
}
