@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
    --color-brand-primary: #a71f1f;
    --color-brand-primary-rgb: 167, 31, 31;
    --screen-75: 75vh;
    --screen-50: 50vh;
}

body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    color: #878787;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

@import './_timeline.css';

.static-content p {
    margin-bottom: 15px;
}

.title-underline::after {
    content: '';
    display: block;
    width: 6rem;
    height: 4px;
    background-color: var(--color-brand-primary);
    margin-top: 0.9rem;
    margin-left: auto;
    margin-right: auto;
}

.range-theme-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: var(--color-brand-primary);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin-top: -0.25rem;
    box-shadow: 0 0 0 px rgba(var(--color-brand-primary-rgb), 0.2);
    transition:
        background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
}

.range-theme-thumb::-moz-range-thumb {
    border-radius: 9999px;
    background-color: var(--color-brand-primary);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(var(--color-brand-primary-rgb), 0.2);
    transition:
        background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
}

.range-theme-thumb:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px rgba(var(--color-brand-primary-rgb), 0.3);
}

.range-theme-thumb:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px rgba(var(--color-brand-primary-rgb), 0.3);
}

.range-theme-thumb::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.25rem;
    background: #d1d5db;
    border-radius: 9999px;
}

.range-theme-thumb::-moz-range-track {
    width: 100%;
    height: 0.25rem;
    background: #d1d5db;
    border-radius: 9999px;
}

.form-input {
    padding: 8px 10px;
}
